<div class="employee-role-form-container">
  <h2>{{ isEditing ? ' Editing an employee role ':'Add a new role'  }}</h2>

  <div  class="dialog-content" id="dialog-content">
    <form [formGroup]="employeeRoleForm" class="form">
      <div *ngIf="!isEditing" class="form-row">
        <mat-form-field class="form-field">
          <mat-select placeholder="בחר תפקיד" formControlName="roleName">
            <mat-option *ngFor="let role of roleList" [value]="role.roleName"> {{ role.roleName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-select placeholder="הנהלה" formControlName="isManagement">
            <mat-option [value]="true">כן</mat-option>
            <mat-option [value]="false">לא</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" formControlName="entryDate" placeholder="בחר תאריך התחלה">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

    </form>
  </div>

  <div class="dialog-actions">
    <div class="btn-group" role="group" aria-label="Default button group">
      <button type="button" class="btn btn-outline-dark" (click)="onClose()">ביטול</button>
      <button type="button" class="btn btn-outline-dark" (click)="onSave()">שמירה</button>
      <button>

      </button>
    </div>
  </div>
</div>