<p>Role</p>
<h2 class="dialog-title">Add Role</h2>
<div class="dialog-content" id="dialog-content">
    <form [formGroup]="addRoleForm" class="form">
        <div class="form-row">
            <mat-form-field class="form-field">
                <input matInput placeholder="role Name" formControlName="roleName">
            </mat-form-field>
        </div>
    </form>
</div>
<div class="dialog-actions">
    <div class="btn-group" position="group" aria-label="Default button group">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="save()" [disabled]="!addRoleForm.valid">Save</button>
    </div>
</div>